.nav-link{
    color: white !important;
}
.dropdown-item:hover{
    background-color: white !important;
    color: rgb(255, 193, 7) !important;
}
.dropdown-menu{
    background-color:rgb(255, 193, 7) !important;
    color: white !important;
}
.dropdown-item{
    background-color:rgb(255, 193, 7) !important;
    color: white !important;
}
.modal-header{
    background-color: rgb(255, 193, 7);
    color: white;
}
.badge-warning{
    color: white;
}
.card-header{
    background-color: rgb(255, 193, 7);
    color: white;
}