<!doctype html>
<html lang="zh-hant">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 引用 Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/all.css">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script defer src="/static/js/all.js"></script>
    <!--<link rel="stylesheet" href="/static/css/flat-ui.css">-->
    <title>Sesame Bot</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
      <a class="navbar-brand" href="/home/"><i class="fas fa-robot"></i> Sesame Bot</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home/"><i class="fas fa-home"></i> 首頁<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://discordapp.com/api/oauth2/authorize?client_id=616940948491862028&permissions=8&scope=bot"><i class="fas fa-envelope"></i> 邀請</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-list"></i> 指令列表
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/command"><i class="fas fa-book"></i> 指令一覽表（未分類）</a> 
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"> 資訊類</a>
                <a class="dropdown-item" href="#"> 伺服器資訊類</a>
                <a class="dropdown-item" href="#"> 伺服器管理類</a>
                <a class="dropdown-item" href="#"> 建議類</a>
                <a class="dropdown-item" href="#"> 邀請類</a>
                <a class="dropdown-item" href="#"> 挑戰類</a>
                <a class="dropdown-item" href="#"> 休閒娛樂類</a>
                <a class="dropdown-item" href="#"> 等級與貨幣</a>
                <a class="dropdown-item" href="#"> 機器人設定</a>
                <a class="dropdown-item" href="#"> 機器人管理類</a>
            </div>
          </li>
          
        </ul>
        {% if user.is_authenticated %}
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="/panel/" class="nav-link"><i class="fas fa-address-card"></i> {{ user.username }}</a></li>
            <li class="nav-item"><a type="button" class="nav-link btn btn-sm btn-danger" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-sign-out-alt"></i> 登出</a></li>
          </ul>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">即將登出</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>確定登出？</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                  <a href="{% url 'logout' %}" type="button" class="btn btn-danger logout"><i class="fas fa-sign-out-alt"></i> 登出</a>
                </div>
              </div>
            </div>
          </div>
          {% else %}
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="{% url 'login'%}" class="nav-link"><i class="fas fa-sign-in-alt"></i> 登入</a></li>
          </ul>
        {% endif %}
      </div>
      
    </nav>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    
  </body>
</html>