{% extends "base.html" %}
{% block content %}
<div class="card mt-4">
    <h2 class="card-header font-weight-bold">儀表板</h2>
    <div class="card-body">
            <div class="row container">
                    <div class="col-md-auto">
                      <div class="card" style="width: 256px; height:256px;">
                        <div class="card-body">
                          <h5 class="card-title">Special title treatment</h5>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-auto">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Special title treatment</h5>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                    </div>
                  </div>
    </div>
</div>
{% endblock content %}